<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.production_practice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GameViewActivity"></activity>
        <activity android:name=".GameActivity" />
        <activity android:name=".MusicActivity.Music3Activity"></activity>
        <activity android:name=".MusicActivity.Music2Activity" />
        <activity android:name=".MusicActivity.MusicActivity" />
        <activity android:name=".MusicListActivity" />
        <activity android:name=".caozuoActivity" />
        <activity android:name=".anmoActivity" />
        <activity android:name=".xuewei9Activity" />
        <activity android:name=".xuewei8Activity" />
        <activity android:name=".xuewei7Activity" />
        <activity android:name=".xuewei6Activity" />
        <activity android:name=".xuewei5Activity" />
        <activity android:name=".xuewei4Activity" />
        <activity android:name=".xuewei3Activity" />
        <activity android:name=".xuewei2Activity" />
        <activity android:name=".xuewei1Activity" />
        <activity android:name=".BianbieliActivity" />
        <activity android:name=".JiyiliActivity" />
        <activity android:name=".ShijueActivity" />
        <activity android:name=".ZhuyiliActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".ToDoListActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>