<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.production_practice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GameViewActivity"></activity>
        <activity android:name=".GameActivity" />
        <activity android:name=".MusicActivity.Music3Activity"></activity>
        <activity android:name=".MusicActivity.Music2Activity" />
        <activity android:name=".MusicListActivity" />
        <activity android:name=".MusicActivity.MusicActivity" />
        <activity android:name=".BianbieliActivity" />
        <activity android:name=".JiyiliActivity" />
        <activity android:name=".ShijueActivity" />
        <activity android:name=".ZhuyiliActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".ToDoListActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>